body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flexbox;
  flex-direction: column;
  /*width: 80%;
  height: 60%;*/
  text-align: center;
  background-color: #4e4d4d;
  color:wheat;
  margin: 5%;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid-container {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  
}
.card {  
  display: flexbox;
  flex-direction: column;
  background: linear-gradient(300deg, blue, black);
  box-shadow: 4px 4px 10px white;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  align-items: center;
  cursor: pointer;  

}

.busqueda{
  width: 60%;
  height: 20px;
  text-align: center;
  box-shadow: 1px 1px 5px 1px #e1e2e1;
  border-radius: 40px;
  box-shadow: 8px 4px 4px rgba(247, 196, 54, 0.108);
  margin: 5%;
  cursor: pointer;

  }

.header {
  width: 100%;
  height: 80%;
  text-align: center;
  /*background-color: #4e4d4d;*/
  color:wheat;
}